<script src="https://js.stripe.com/v3/"></script>
<h1>Account for <%= current_user.email %></h1>
<% if @subscription.active %>
  <h2>You are subscribed to...</h2>
<% else %>
  <h2>Begin your $9.99 a month subscription</h2>
  <p>Stripe billing TBD...</p>
<% end %>

<%= javascript_pack_tag 'src/user' %>